.holder {
	max-width: 840px;
	margin: 0 auto;
	padding: 24px 0;
}
.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imageContainer {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
	
}

@media (min-width: 481px) {
	/* .reviewItem {
		flex-direction: row;
	} */
	/* .imageContainer {
		padding-bottom: 50%;
	} */
}
@media (min-width: 641px) {
	.slide {
		flex-direction: row;
	}
	.imageContainer {
		padding-bottom: 50%;
	}
}
