.holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
	height: var(--headerheight);
	background-color: #ffffff;
}
.logo {
	display: inline-block;
	font-size: 20px;
}
