.productInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.top, .middle, .bottom {
	display: flex;
	flex-direction: column;
}
.top, .middle {
	gap: 16px;
}
.section {
	display: flex;
	flex-direction: column;
}
.sectionName {
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 1px;
	margin-bottom: 8px;
}
.badge {
	display: inline-flex;
	align-self: flex-start;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	border-radius: 8px;
}
.price {
	background-color: #4ab84e;
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: uppercase;
}
.availability {
	background-color: #bbd72b;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 500;
	text-transform: uppercase;
}
.descriptions {
	display: flex;
	flex-direction: column;
}
.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.descriptions {
	padding: 16px 24px;
	border-radius: 8px;
	background-color: #f6f6f6;
}
.prop {
	flex-grow: 1;
	display: flex;
	align-items: baseline;
}
.prop::after {
	content: "";
	width: 100%;
	border-bottom: 1px dotted #000000;
	margin-inline: 4px;

}
.value {
	/* flex-shrink: 1; */
}

.btnOrder {
	align-self: flex-start;
}
