.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 8px;
	row-gap: 24px;
	min-width: 360px;
	max-width: 480px;
	padding: 16px;
}
.item {
	grid-column: span 2;
}
.panel {
	display: flex;
	justify-content: space-between;
	grid-column: span 4;
}

.panelGap {
	gap: 8px;
}
.panelContentCenter {
	justify-content: center;;
}
.box {
	width: 100%;
}
// .contentCenter {
// 	justify-content: center;
// }
// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// }
// .cardFlex {
// 	flex: 0 0 25%;
// }
// .cardItem {
// }
.imageContainer {
	width: 100%;
	border-radius: 8px;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}
.spacebetween {
	justify-content: space-between;
}

.pageButton {
	width: 40px;
	height: 40px;
}
